---
import Layout from "../layouts/Layout.astro";

const skills = ["Full Stack", "UI/UX", "Low Level", "Discord Bots"];

const languages = [
    "Golang",
    "Rust",
    "Lua",
    "C",
    "Python",
    "HTML",
    "CSS",
    "SASS",
    "JavaScript",
    "TypeScript",
];

const databases = [
    "Firebase",
    "MongoDB",
    "SQLite",
    "MySQL",
    "Postgres",
    "Drizzle",
    "Prisma",
    "Diesel",
];

const webframeworks = [
    "Tauri",
    "WASM",
    "HTMX",
    "React",
    "NextJS",
    "Remix",
    "SolidJS",
    "Solid Start",
    "Svelte",
    "SvelteKit",
    "Astro",
    "Flask",
    "Express",
    "Rocket",
    "Actix",
    "Echo",
    "Templ",
];

const discordframeworks = ["Discord.js", "Discord.py", "Concord", "Serenity"];

import Quote from "../components/Quote.astro";
---

<Layout title="about nam" description="nam's personal website and blog.">
    <div class="w-full flex justify-center md:py-8 flex-col items-center gap-2">
        <div class="md:w-2/3 py-4 px-4 w-full lg:w-1/2 flex-col">
            <div class="flex flex-wrap gap-4 items-end justify-between">
                <div class="flex gap-4 items-center">
                    <img
                        src="https://avatars.githubusercontent.com/u/68964499?v=4"
                        alt="pfp"
                        class="h-10 md:h-12 w-10  md:w-12 rounded-full border-[1px] border-fg"
                    />
                    <h1 class="text-xl md:text-3xl text-left text-fg self-end">Namish</h1>
                    <h1 class="text-sm mb-[2px] md:mb-0 md:text-lg text-gray-500 text-left self-end">
                        17M (he/him)
                    </h1>
                </div>
                <p class="text-sm md:text-lg text-gray-500">
                    num-ish ⋅ mythological god (south east asia)
                </p>
            </div>
            <p class="mt-8 text-[16px] md:text-[20px] text-bright">
            Just another dude who chronically loves to program literally everything in anything. While mainly <span class="text-fg"> creating for the web </span>, most of my personal favourite projects are <span class="text-fg"> low level. </span> Apart from that I'm also knd of proficient in the piano and playing tennis.

            </p>
            <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-gray-500">Skill</span> Set
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    skills.map((i, j) => {
                        return (
                            <p class="mt-2  bg-[#111] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-gray-500">Languages</span> I Know
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    languages.map((i, j) => {
                        return (
                            <p class="mt-2 bg-[#111] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-gray-500">Databases &</span> ORMS
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    databases.map((i, j) => {
                        return (
                            <p class="mt-2  bg-[#111] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-gray-500">Web</span> Tech
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    webframeworks.map((i, j) => {
                        return (
                            <p class="mt-2  bg-[#111] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-gray-500">Discord</span> Framewords
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    discordframeworks.map((i, j) => {
                        return (
                            <p class="mt-2  bg-[#111] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
            <h1 class="text-xl md:text-2xl text-fg mt-8 mb-2">
                <span class="text-gray-500">My</span> Setup
            </h1>
            <ul
                class="list-decimal leading-[2.6rem] list-inside mt-4 text-[16px] md:text-[16px] text-bright"
            >
                <li>
                    Operating System: <span class="text-fg">arch // nix os</span
                    >
                </li>
                <li>
                    Window Managers: <span class="text-fg"
                        >awesomewm // swayfx</span
                    >
                </li>
                <li>
                    Terminal & Shell: <span class="text-fg"
                        >wezterm with bash</span
                    >
                </li>
                <li>Code Editor: <span class="text-fg">neovim</span></li>
            </ul>
            <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
            <h1 class="text-xl md:text-2xl text-fg mt-8 mb-2">
                <span class="text-gray-500">Testimonial</span>
            </h1>
            <Quote />
        </div>
    </div>
</Layout>
