---
import Layout from "../layouts/Layout.astro";

const skills = ["Full Stack", "UI/UX", "Low Level", "Discord Bots"];

const languages = [
    "Golang",
    "Rust",
    "Lua",
    "C",
    "Python",
    "HTML",
    "CSS",
    "SASS",
    "JavaScript",
    "TypeScript",
];

const databases = [
    "Firebase",
    "MongoDB",
    "SQLite",
    "MySQL",
    "Postgres",
    "Drizzle",
    "Prisma",
    "Diesel",
];

const webframeworks = [
    "Tauri",
    "WASM",
    "HTMX",
    "React",
    "NextJS",
    "Remix",
    "SolidJS",
    "Solid Start",
    "Svelte",
    "SvelteKit",
    "Astro",
    "Flask",
    "Express",
    "Rocket",
    "Actix",
    "Echo",
    "Templ",
];

const discordframeworks = ["Discord.js", "Discord.py", "Concord", "Serenity"];

import Quote from "../components/Quote.astro";
---

<Layout title="about nam" description="nam's personal website and blog.">
    <div class="w-full flex justify-center md:py-8 flex-col items-center gap-2">
        <div class="md:w-2/3 py-4 px-4 w-full lg:w-1/2 flex-col">
            <div class="flex flex-wrap gap-4 items-end justify-between">
                <div class="flex gap-4 items-center">
                    <img
                        src="https://avatars.githubusercontent.com/u/68964499?v=4"
                        alt="pfp"
                        class="h-10 md:h-12 w-10  md:w-12 rounded-full border-[1px] border-fg"
                    />
                    <h1 class="text-xl md:text-3xl text-left text-fg self-end">Namish</h1>
                    <h1 class="text-sm mb-[2px] md:mb-0 md:text-lg text-neutral-500 text-left self-end">
                        17M (he/him)
                    </h1>
                </div>
                <p class="text-sm md:text-lg text-neutral-500">
                    num-ish ⋅ mythological god (south east asia)
                </p>
            </div>
            <div class="mt-8 leading-8">
            <div class="flex gap-4 items-start">
              <p class="p-3 px-4 md:p-4 md:px-6 select-none text-white text-xl md:text-3xl font-black bg-mbg">F</p>
              <div class="flex flex-col">
                <p class="text-bright"><a class="text-fg md:text-lg font-bold underline" href="https://git.new/floww">Floww</a> • Sep 2024 - Present</p>
                <p class="text-bright">founder</p>
              </div>
            </div>
            <div class="flex gap-2 md:gap-4 my-4">
              <ol class="list-decimal flex flex-col gap-3 mx-6 text-bright marker:text-bright">
                <li>building a youtube studio access management solution using solid start and prisma to solve security risks</li>
                <li>currently in very early stages</li>
              </ol>
            </div>
            </div>


            <div class="mt-8 leading-8">
            <div class="flex gap-4">
              <img src="/skann.svg" class="p-3 md:p-4 bg-mbg h-12 md:h-16">
              <div class="flex flex-col">
                <p class="text-bright"><a class="text-fg md:text-lg font-bold underline" href="https://skann.me">Skann</a> • Oct 2024 - Present</p>
                <p class="text-bright">front end developer</p>
              </div>
            </div>
            <div class="flex gap-2 md:gap-4 my-4">
              <ol class="list-decimal flex flex-col gap-3 mx-6 text-bright marker:text-bright">
                <li>redesigned the entire ui, including the whole admin dashboard with multiple sections along with the customer login flow </li>
                <li>moved the company's blog from using markdown to using mdx with next-mdx-remote to allow for more organized and intuitive writing</li>
              </ol>
            </div>
            </div>

            <div class="mt-8 leading-8">
            <div class="flex gap-4">
              <img src="/silico.png" class="p-3 md:p-4 bg-mbg h-12  md:h-16">
              <div class="flex flex-col">
                <p class="text-bright"><a class="text-fg md:text-lg font-bold underline" href="https://silicobattles.in">Sovuneir Club</a> • Apr 2023 - Oct 2024</p>
                <p class="text-bright">head of operations • lead dev</p>
              </div>
            </div>
            <div class="flex gap-2 md:gap-4 my-4">
              <ol class="list-decimal flex flex-col gap-3 mx-6 text-bright marker:text-bright ">
                <li>designed the websites for the club's annual tech symposium, "The Silico Battles" for the years 2023-24 and 2024-25 using remix.js and tailwindcss</li>
                <li>developed the website for the club's flagship cryptic hunt, "Cyquest" with golang and sqlite</li>
                <li>faciliated and organized over 14 events with more than 400 participants</li>
              </ol>
            </div>
            </div>
            <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-neutral-500">Skill</span> Set
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    skills.map((i, j) => {
                        return (
                            <p class="mt-2  bg-[#080808] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-neutral-500">Languages</span> I Know
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    languages.map((i, j) => {
                        return (
                            <p class="mt-2 bg-[#080808] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-neutral-500">Databases &</span> ORMS
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    databases.map((i, j) => {
                        return (
                            <p class="mt-2  bg-[#080808] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-neutral-500">Web</span> Tech
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    webframeworks.map((i, j) => {
                        return (
                            <p class="mt-2  bg-[#080808] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <h1 class="text-lg text-fg mt-8 mb-2">
                <span class="text-neutral-500">Discord</span> Framewords
            </h1>
            <div class="flex flex-wrap gap-4">
                {
                    discordframeworks.map((i, j) => {
                        return (
                            <p class="mt-2  bg-[#080808] text-fg px-4 py-2 rounded-md">
                                {i}
                            </p>
                        );
                    })
                }
            </div>
            <div class="mt-8 h-[2px] px-16 bg-bg3 inline-block"></div>
            <div class="flex flex-wrap gap-4 mt-4 text-bright">
              <a href="https://github.com/namishh" class="text-bright underline">github</a>
              <a href="https://x.com/namishh_" class="text-bright underline">x dot com</a>
              <a href="mailto:hey@namishh.me" class="text-bright underline">hey@namishh.me</a>
            </div>
        </div>

    </div>
</Layout>
