---
const { posts, l } = Astro.props;
---
{posts.map((post,index) => {
const href = `/${l}/${post.file.split("/").pop().split(".").shift()}`;
return <div>
    <a href={href} class="cursor-pointer flex flex-col gap-3 flex flex-col items-start">
          <div class="lg:px-0 lg:py-2 md:px-12 px-8 py-4 flex flex-col items-start">
                  <div class="flex flex-wrap items-center gap-2 md:gap-4">
                    <h2 class="sm:text-2xl text-2xl font-bold text-fg mt-4 mb-4"><span class="text-fg font-sans mr-2 font-bold text-primary">{index + 1}.</span>{post.frontmatter.title}</h2>

                    <div class="flex items-center gap-2 md:gap-4">
                    <div  class="p-2 font-mono font-light bg-mbg rounded-md text-fg">{post.frontmatter.category}</div>
                    <p class="leading-relaxed flex-end text-md text-fg">{post.frontmatter.date}</p>
                    </div>
                  </div>
                  <p class="leading-relaxed text-bright mb-4 text-lg text-bright">{post.frontmatter.description}</p>
                </div>
    </a>
</div>
})}
